:root,
[data-theme="default"] {
    --white-color: #fff;
    --body-color: #fff;
    --black-color: #000;
    --gray-color: #444b5a;
    --box-shadow: rgb(255 255 255 / 30%);

    --primary-100: #3a4764;
    --primary-200: #232c43;
    --primary-300: #182034;
    --primary-400: #637097;
    --primary-500: #404e72;
    --primary-600: #a2b3e1;

    --secondary-100: #d03f2f;
    --secondary-200: #93261a;

    --tertary-100: #eae3dc;
    --tertary-200: #b4a597;

    --h1-font: clamp(36px, 2.708vw, 52px);
    --h2-font: clamp(30px, 1.979vw, 38px);
    --h3-font: clamp(24px, 1.458vw, 28px);
    --h4-font: clamp(18px, 1.042vw, 20px);
    --h5-font: clamp(16px, 0.938vw, 18px);
    --h6-font: clamp(14px, 0.833vw, 16px);

    --base-font: clamp(22px, 1.667vw, 32px);
    --League-font: 'League Spartan', sans-serif;
}

[data-theme="theme-2"] {
    --body-color: #35352c;
    --gray-color: #444b5a;
    --box-shadow: rgb(0 0 0 / 30%);

    --primary-100: hsl(0, 0%, 90%);
    --primary-200: hsl(0, 5%, 81%);
    --primary-300: hsl(0, 0%, 93%);
    --primary-400: hsl(185, 42%, 37%);
    --primary-500: hsl(185, 58%, 25%);
    --primary-600: #62b5bd;

    --secondary-100: #ff8b38;
    --secondary-200: #843700;

    --tertary-100: hsl(45, 7%, 89%);
    --tertary-200: hsl(35, 11%, 61%);
}

[data-theme="theme-3"] {
    --body-color: #ffe53d;
    --gray-color: #ffe53d;

    --primary-100: hsl(268, 75%, 9%);
    --primary-200: hsl(268, 71%, 12%);
    --primary-300: #1e0836;
    --primary-400: hsl(281, 89%, 26%);
    --primary-500: hsl(285, 91%, 52%);
    --primary-600: #8631b0;

    --secondary-100: hsl(176, 100%, 44%);
    --secondary-200: hsl(177, 92%, 70%);

    --tertary-100: hsl(268, 47%, 21%);
    --tertary-200: hsl(290, 70%, 36%);

}